{% extends 'shop/base.html' %}
{% block title %}About page {% endblock %}
{% block body %}
{% load static %}
<div style="color: rgba(0, 0, 0, 0.718); margin-left: 20px;">
<h1 style="color: black; margin-top: 120px;">About us -</h1><br>

<h3 >Introduction</h3><br>
<p style="color: black;">
A pet shop or pet store is an essential services retailer which sells pets. <br>
A variety of animal supplies and pet accessories are also sold in pet shops. The products sold include<br>
A pet shop or pet store is a retail business which sells different kinds of animals to the
public. <br>A variety of animal supplies and pet accessories are also sold in pet shops.
The products sold include: food, treats, toys, collars, leashes,<br> cat litter, cages and
aquariums. Nowadays pets is one of the factors that makes our life more colorful. Many
research and studies confirm <br>about the psychological and health benefits for the pets
owners. Dog is the most favorite pets and often called human companions because <br>theirs
friendly and loyal attitude towards his master. World Health Organization (WHO) said
about 70 percent of households in the world have <br>one or more dogs</p>

<!-- this shop have n number of cats , dogd , puppies , kittens.
helpline number
location
work of experience
persnol detaills
why in this fieldd -->


</div>
<img src="{% static 'image/about2.webp' %}" height="350px" width="700px" style="margin-top: 50px;">
{% endblock %}